@use '../../styles/general/config.scss' as *;
@use '../../styles/mixings/responsive' as *;
.restaurant-card {
  border: 1px solid $background_color_layer2;
  gap: 0.5rem;
  border-radius: 8px;
  display: flex;
  cursor: pointer;

  padding: 1rem;

  @include fromSM {
    flex-direction: column;
    max-width: 300px;
    padding: 2rem;
    cursor: unset;
  }
    &__image {
        width: 100%;
        img{
            width: 100%;
            border-radius: 8px;
        }
    }

  &__title {
    color: $primary_text_color;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__description {
    font-size: 0.8125rem;
    color: $tertiary_text_color;
    // cap text length and add elipsis at 3 lines
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__features{
    display: flex;
    gap: 0.5rem;
  }
  &__pill{
    background-color: $background_color_layer2;
    padding: 0.25rem 0.5rem;
    border-radius:4px;
    font-size: 0.75rem;
    font-weight: bolder;
    color: white;
  }
  &__button{
    display: none;
    @include fromSM {
      display: block;

    }
  }
}
