@use '../../styles/general/config' as *;
@use '../../styles/mixings/responsive' as *;

.image-uploader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    &__button{
        width: 100%;
        border-radius:  0 0 4px 4px ;
        &:active{
            transform: none;
        }
    }
    &__image{
        max-width: 270px;
        width: auto;
        object-fit: cover;
        border-radius: 4px;
        @include fromSM {
            max-width: 600px;
        }

    }
}