$CTA_color : #be1e1e;
$primary_color : #3c2fee;



$primary_text_color : rgba(#fff, 0.8);
$secondary_text_color : rgba(#fff, 0.65);
$tertiary_text_color : rgba(#fff, 0.5);


$background_color_layer1 : #0E0F11;
$background_color_layer2 : #1d1d1d;

$color_error : #ff6b6b;